<section>
  <!-- Audio Testing -->

  <input type="text" placeholder="Word to search for" ng-model="wc.wordIn">
  <button ng-click="wc.wordSearch(wc.wordIn)">Search</button>
  <hr>
  <h1>Phonetic Spelling</h1>
  <p ng-repeat="pronunciations in wc.word.data.lexicalEntries">{{pronunciations}}</p>
  <hr>
  <!-- URL for MP3 Extraction -->
  <h1>Audio</h1>
  <p>{{wc.mp3URL.data}}</p>
  <hr>
  <audio controls>
      <source id="player" ng-src="{{wc.mp3URL.data}}" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
  <hr>
  <!-- Definition Lookup -->
  <h1>Definition</h1>
  <div ng-repeat="word in wc.wordResponse.data.lexicalEntries">
    <div ng-repeat="entries in word">
      <div ng-repeat="senses in entries track by $index">
        <div ng-repeat="definitions in senses">
          <div ng-repeat="string in definitions track by $index">
            {{string.definitions[$index]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>